APP_ENV=production
BASE_URL=https://api.perfumetreasure.net
PORT=5001

SECRET_KEY=replace-me
JWT_SECRET_KEY=replace-me
ADMIN_USERNAME=replace-me
ADMIN_PASSWORD=replace-me

MYSQL_USER=root
MYSQL_PASSWORD=replace-me
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DB=perfume_treasure

STRIPE_SECRET_KEY=sk_live_replace_me
STRIPE_PUBLISHABLE_KEY=pk_live_replace_me
STRIPE_MERCHANT_IDENTIFIER=merchant.net.perfumetreasure
STRIPE_MERCHANT_DISPLAY_NAME=Perfume Treasure
STRIPE_CURRENCY=usd
